.chatPage {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.searchBar {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid black;
}